<h2>Welcome to the new page</h2>
<form action = "/contact" method = "post">
  <div class="form-group">
    <label class="control-label">Brand: </label>
    <p name="brand_name" id="brand_name" class="form-control-static">LG</p>
    <label>Name: </label>
    <input name="name" id="name" type="text" class="form-control" placeholder="Your name*" required="">
    <label>Best Contact number: </label>
    <input name="contact_number" type="text" class="form-control" placeholder="Contact Number*" required="">
    <label>Email: </label>
    <input name="email" id="email" type="email" class="form-control" placeholder="Your email">
  </div>
  <div class="form-group">
    <label>Address: </label>
    <input name="address" type="text" class="form-control" placeholder="Your Address*" required="">
  </div>
  <div class="form-group">
    <label>Model Number: </label>
    <input name="model_number" type="text" class="form-control" placeholder="Model Number*" required="">
    <label>Serial Number: </label>
    <input name="serial_number" type="text" class="form-control" placeholder="Serial Number">
    <label>Purchase Date: </label>
    <input name="purchase_date" type="date" class="form-control" placeholder="Purchase Date">
  </div>
  <div class="form-group">
    <label>Message: </label>
    <textarea name="message" type="text" class="form-control" rows="5" placeholder="Please describe your problem"></textarea>
  </div>
  <input id="submit_btn" type="submit" class="btn btn-md btn-success" value="send">

</form>
