<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <header>
    <h2>Contact information</h2>
  </header>
  <body>
   {{{body}}}
  </body>
</html>
